<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/logo.gif">
    <title>#247420 or "marijuana green" | 247420.xyz</title>
    <link rel="canonical" href="https://247420.xyz" />
    <meta name="robots" content="index, follow" />
    <meta name="description"
        content="Join the entrypoint community of people who smoke weed and create amazing content like music, graphics and websites. Free to join at 247420.xyz" />

</head>

<body style='
background-image: url("/bg.png");
background-repeat: repeat;
'>
    {{styleblock}}
    {{header}}
    <div style="max-width:1000px; margin:auto;">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
            <div class="shadow">
                <div style="text-align: center;">
                    <iframe width="500" height="550"
                        src="https://gateway.ipfscdn.io/ipfs/Qmcine1gpZUbQ73nk7ZGCcjKBVFYXrEtqrhujXk3HDQ6Nn/erc721.html?contract=0xB96635E821Ef53790628705e1B68fca7958b42a3&chainId=137&theme=dark&primaryColor=cyan"></iframe>
                    <!--h1>Entrypoint Genesis Babies</h1>
                                    <img src="https://gateway.ipfscdn.io/ipfs/QmRM184sSk6sHwgxv8MuZHSqrVkxZsiz6gVyqCqSbJhfn9/8.png"
                                        width="400" alt="Entrypoint Genesis Babies" /-->
                    <h2>
                        Hey there! We've got a real exciting announcement to share with you all today.
                        Introducing Genesis Babies, the newest collectible 8-bit style non-fungible token (NFT) to
                        hit the web3.
                    </h2>
                </div>

                <div>

                    <div style="font-size: larger; text-align: justify; padding: 1em;">
                        <img width="200" style="float:left;"
                            src="https://247420.xyz/schwepes-transparent/0673%20-%20zGNto6D.png" />
                        <img width="200" style="float:left; -webkit-transform: scaleX(-1); transform: scaleX(-1);"
                            src="/babies/crawl.gif" />
                        <p style="float:left; font-size: larger;"> Now, you might be wondering,</p>
                        <blockquote style="float:left;">
                            <code
                                style="background-color: #420247; font-size: x-large;"> "What the heck is a non-fungible token?"</code>
                        </blockquote>
                    </div>

                    <div style="float: right; font-size: larger; text-align: center; padding: 1em;">
                        <p style="font-size: xx-large; text-align: justify; padding: 1em; float: left;">
                            But enough of the
                            <code style="background-color: #420247; font-size: xx-large;">technicals</code>
                        </p>
                        <img width="200" style="float:right; -webkit-transform: scaleX(-1);
                                        transform: scaleX(-1);"
                            src="https://247420.xyz/schwepes-transparent/1147%20-%20ijXsbv9.png" />
                        <img width="200" style="float:right;" src="/babies/crawl2.gif" />
                    </div>

                    <div style="float: left; font-size: larger; text-align: center; padding: 1em;">
                        <img width="200" style="float:left; -webkit-transform: scaleX(-1); transform: scaleX(-1);"
                            src="https://247420.xyz/schwepes-transparent/36%20-%202nuXKN5.png" />

                        <img width="200" style="float:left;" src="/babies/crawl3.gif" />

                        <p style="font-size: xx-large; text-align: center; padding: 1em; float: left;">
                            Let's <code style="background-color: #420247; font-size: xx-large;">
                                            get to the good stuff</code><br />
                            <em>EP : Genisis👶s</em>
                        </p>

                        <p style="float:right; font-size: larger; text-align: justify;">
                            These tokens are the <em
                                style="color: transparent; background-clip: text; -webkit-background-clip: text; background-image: url('https://media4.giphy.com/media/5zh9jRVO7Qr9roeUbz/giphy.gif?cid=ecf05e470albluc2fqhvi0h5vt5p6hodjxsabuubl3y83lsz&rid=giphy.gif&ct=g');">grooviest</em>,
                            most far out collectibles you've ever laid eyes on. There are <span
                                style="font-size: xx-large;">💯</span> different variations, each with their
                            own rarity values for their attributes.
                        </p>
                    </div>

                    <div style="float: left; font-size: larger; text-align: center; padding: 1em;">

                        <p style="font-size: xx-large; text-align: center; padding: 1em; float: left;">
                            <code
                                style="color: transparent;
                                                    background-clip: text;
                                                    -webkit-background-clip: text; 
                                                    background-image: url('https://media2.giphy.com/media/JlVxiw2MrW4DwKeG4e/giphy.gif?cid=ecf05e47havsfdo7vnub33cofwhw8suyhqvh1e5t1wr1veb4&rid=giphy.gif&ct=g');
                                                     font-size: xx-large; text-align: justify;">Want the best part?</code>
                            They're being used to give access to some far out community web3 features
                        </p>

                        <p style="float :left; font-size: larger; text-align: justify; padding: 1em;">
                            But why go through all this fuss for a little ol' collectible? Well, let us tell you,
                            collectibles like Genesis Babies are a real trip for both creators and collectors.
                            For starters, they've got tangible value - creators can make a little cash money by
                            selling
                            them, and collectors get to own some unique and rare digital assets.
                            <br /><br />
                            But the real value comes from the intangible stuff. For creators, collectibles can be a
                            way to build a
                            community of loyal supporters who are really into their work. This is especially rad
                            for independent creators who might not have the same level of support as the big dogs.
                        </p>
                        <img width="200" style="float:left; -webkit-transform: scaleX(-1); transform: scaleX(-1);"
                            src="/babies/safu.gif" />
                        <img width="400" style="float:none; -webkit-transform: scaleX(-1); transform: scaleX(-1);"
                            src="/babies/dance.gif" />
                        <img width="200" style="float:right; -webkit-transform: scaleX(-1); transform: scaleX(-1);"
                            src="/babies/safu.gif" />
                        <p style="float :left; font-size: larger; text-align: justify; padding: 1em;">
                            As for collectors, collectibles give them a way to show their support and appreciation
                            for a
                            particular creator or community. Plus, they can connect with other collectors and build
                            a
                            community around their shared interests. And let's not forget - collectibles keep the
                            internet real.
                            In a world where the internet is often run by big corporations and algorithms,
                            collectibles give creators a way to connect
                            directly with their audience and give collectors a way to support the content they love.
                            <br /><br />
                            So there you have it - Genesis Babies, the grooviest collectible NFT around. They're a
                            trip
                            for both creators and collectors, and they're helping to keep the internet real. Don't
                            miss out
                            on the opportunity to get your hands on one of these far out tokens.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">

    </div>
    <script>
        document.querySelectorAll('li').forEach(a => { if (a.children[0].href == window.location.href || a.children[0].href == 'https://twitter.com/' || a.children[0].href == 'https://facebook.com/' || a.children[0].href == 'https://youtube.com/') a.style.display = 'none' });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous">

</body>

</html>