<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/logo.gif">
    <title>Smoking weed and Creating content | 247420.xyz</title>
    <link rel="canonical" href="https://247420.xyz" />
    <meta name="robots" content="index, follow" />
    <meta name="description"
        content="Join the entrypoint community of people who smoke weed and create amazing content like music, graphics and websites. Free to join at 247420.xyz" />

</head>

<body style='
background-image: url("bg.png");
background-repeat: repeat;
'>
    <%-styleblock%>
    <%-header%>
    <div style="max-width:1000px; margin:auto;">
        
        <div style="max-width:1000px; margin:auto;">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
                <div class="shadow">
                    <div style="text-align: center;">
                        <%-content%>
                    </div>
                </div>
            </div>
        </div>

    <script>
        document.querySelectorAll('li').forEach(a => { if (a.children[0].href == window.location.href || a.children[0].href == 'https://twitter.com/' || a.children[0].href == 'https://github.com/' || a.children[0].href == 'https://facebook.com/' || a.children[0].href == 'https://youtube.com/') a.style.display = 'none' });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous">

</body>

</html>