
/* Nav Bar */

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header nav .header_links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header nav .header_links ul li,
section.main ul li {
    list-style-type: none;
}

header nav .header_links ul li a {
    outline: none;
    text-decoration: none;
    color: #a6a8b8;
    background-color: #247420;
    padding: 5px 12px;
    transition: 0.3s all;
    font-size: 15px;
}

nav .header_links ul li a:hover {
    color: #420247;
    background-color: #420247;
}

nav .header_logo img {
    object-fit: cover;
    cursor: pointer;
}

/* Responsive nav bar */

@media only screen and (max-width: 630px) {
    header nav {
        display: flex;
        flex-direction: column;
    }

    header nav .header_logo {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    header nav .header_links ul {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Main */


.hueanimate {
    -webkit-animation: filter-animation 5s infinite;
    animation: filter-animation 5s infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes filter-animation {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(365deg);
    }
}

@keyframes filter-animation {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(365deg);
    }
}

.spin {
	transform: rotateY(45deg);
	animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(405deg);}
}

.bounce {
	animation: bounceanim 1s linear infinite;
}

.spinbounce {
	animation: spinbounceanim 1s linear infinite;
}

@keyframes bounceanim {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 

 @keyframes spinbounceanim {
    0% {transform: rotateY(45deg) translateY(0px);}
    50% {transform: rotateY(225deg) translateY(-20px);}
    100% {transform: rotateY(405deg) translateY(0px);}
 } 